:root {
  --primary-color: #333446;
  --secondary-color: #ffffff;
  --accent: #f3f5f4;
  --gray: #f1f3f5;
  --dark: #171717;
  --border-color: #dde5ec;

  --radius: 10px;
  --shadow: 0 2px 5px #1d232e23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

hr {
  width: 80%;
  border-bottom: 1px solid #d2d8df;
  margin: 20px auto;
}

button,
.btn {
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--secondary-color);
}

textarea {
  resize: none;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 50px auto;
}

/* header */
header,
footer {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  font-size: large;
  height: 80px;

  * {
    color: var(--secondary-color);
  }

  #navburger {
    z-index: 5;
    font-size: 20px;

    @media (min-width: 675px) {
      display: none;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -100vh;
    left: 0;
    background-color: var(--accent);
    transition: top 300ms ease-in-out;

    @media (min-width: 675px) {
      position: initial;
      height: initial;
      flex-direction: row;
      justify-content: end;
      background-color: initial;
    }

    a {
      display: inline-block;
      padding: 5px;
      color: var(--primary-color);

      &:hover {
        text-decoration: underline;
      }

      @media (min-width: 675px) {
        color: var(--secondary-color);
      }
    }
  }
}

footer {
  position: initial;
  justify-content: center;
  font-size: 0.8rem;
}

#book-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .book {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--gray);
    border-radius: var(--radius);
    height: auto;
    width: 90%;
    margin: auto;
    box-shadow: var(--shadow);

    img {
      height: 300px;
      width: 200px;
      margin: auto;
    }

    #info {
      .description {
        text-align: justify;
      }
    }

    @media (min-width: 992px) {
      flex-direction: row;
      width: initial;
      margin: auto;
    }
  }
}

/* HOME */
#hero {
  background-color: var(--accent);
  height: 70vh;
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  overflow: hidden;

  div,
  img {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius);
  }

  @media (min-width: 675px) {
    flex-direction: row;
  }
}

#category-container {
  width: 70%;
  margin: 20px;

  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 675px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
}

/* BOOKS */
#book-finder {
  width: 80%;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: var(--radius);
  margin: 30px auto;
  text-align: center;

  :placehoder {
    text-align: center;
  }
}

/* CONTACT */
#contact-form {
  width: 80%;

  @media (min-width: 675px) {
    width: 30%;
  }

  div {
    display: flex;
    flex-direction: column;
    margin: 10px auto;

    input,
    textarea {
      border: 1px solid var(--gray);
      border-radius: var(--radius);
      padding: 10px;
    }
  }
  .btn {
    width: 100%;
  }
}
