:root {
  --primary-color: #333446;
  --secondary-color: #ffffff;
  --accent: #f3f5f4;
  --gray: #f1f3f5;
  --dark: #171717;
  --border-color: #dde5ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

hr {
  width: 80%;
  border-bottom: 1px solid #d2d8df;
  margin: 10px auto;
}

button,
.btn {
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--secondary-color);
}

/* header */
header,
footer {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: large;

  * {
    color: var(--secondary-color);
  }

  #navburger {
    z-index: 5;
    font-size: 20px;

    @media (min-width: 675px) {
      display: none;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -100vh;
    left: 0;
    background-color: var(--accent);
    transition: top 300ms ease-in-out;

    @media (min-width: 675px) {
      position: initial;
      height: initial;
      flex-direction: row;
      justify-content: end;
      background-color: initial;
    }

    a {
      display: inline-block;
      padding: 5px;
      color: var(--primary-color);

      &:hover {
        text-decoration: underline;
      }

      @media (min-width: 675px) {
        color: var(--secondary-color);
      }
    }
  }
}

footer {
  position: initial;
  justify-content: center;
  font-size: 0.8rem;
}

/* home */
#hero {
  background-color: var(--accent);
  height: 70vh;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  overflow: hidden;

  div,
  img {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 675px) {
    flex-direction: row;
  }
}

#sample-genres {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;

  div {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      &:hover {
        transform: scale(1.03);
        transition: all linear 300ms;
      }
    }
  }
}

#sample-genres {
  div {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 675px) {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      justify-content: center;
      align-items: center;
    }
  }
}

#sample-books {
  width: 95%;
  margin: auto;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 60px 20px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px #1d232e23;

    &:hover {
      transform: scale(1.03);
      transition: all linear 300ms;
    }

    @media (max-width: 675px) {
      flex-direction: row;
    }

    @media (min-width: 675px) {
      width: 30%;
    }

    .card {
      background-size: cover;
      img {
        @media (min-width: 675px) {
          height: 300px;
        }
      }
    }

    .cardInfo {
      display: flex;
      flex-direction: column;
    }
  }
}
